html{
    margin: 0;
    /* padding: 0 0 10px 0; */
    padding-bottom: 50px;
    overflow-x: hidden;
}

body{
    font-family: Amazon Ember Regular, Arial, sans-serif;
    font-size: 16px;
    background-color: #0e171e;
    color: #949494;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    /* text-align: center;
    background-color: #0e171e;
    font-family: Amazon Ember Regular, Arial, sans-serif;
    font-size: 16px;
    position: initial;
    top: 0;
    left: 0;
    overflow-y: visible;
    overflow-x: hidden; */
}

body{
    margin: 0;
    font-family: Amazon Ember Regular, Arial, sans-serif;
    font-size: 16px;
    background-color: #253949;
    color: #949494;
}

.color_link{
    color: #f1f1f1;
    cursor: default;
    text-decoration: none;
    transition: .2s;
    /* text-align: center; */
}

.color_link1{
    color: #f1f1f1;
    cursor: default;
    text-decoration: none;
    transition: .2s;
    /* text-align: center; */
}

.color_link:hover{
    opacity: 0.6;
}

.color_link1:hover{
    opacity: 0.6;
    cursor: pointer
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.lowercase{
    text-transform: lowercase;
}

.textIn{
    max-width: 70vw;
    min-width: 50vw;
    min-height: 20vh;
    /* border: none; */
    background-color: #235177;
    color: white;
    border-radius: 5px;
    border: 2px solid #00c3ff;
}

.textInCompare{
    max-width: 48vw;
    min-width: 30vw;
    min-height: 15vh;
    /* border: none; */
    background-color: #235177;
    color: white;
    border-radius: 5px;
    border: 2px solid #00c3ff;
}

.textOut{
    max-width: 70vw;
    min-width: 50vw;
    min-height: 20vh;
    background-color: #2f4455;
    color: white;
    border-radius: 5px;
    border: 2px solid #00c3ff;
}

.header{
    background-color: #1a222d;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    position: static;
    top:0;
    z-index: 1;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
}

.button{
    background-color: white;
    border: none;
    padding: 4px 12px;
    transition: .25s;
}

.button:hover{
    background-color: #b4b4b4;
    cursor: pointer;
}

.footer{
    background-color: #0d1b31;
    /* padding-left: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    color: white;
}

.footer_text{
    color: #79B8F3;
    margin-right: 10px;
    text-decoration: none;
}

.drawLine{
    width: 2px;
    height: 21px;
    background-color: white;
    margin: 0 6px;
}

.container{
    display: none;
}

.alert {
    padding: 5px;
    background-color: #c5a100; /* Red */
    color: white;
    margin-top: -10px;
    margin-bottom: 5px;
    /* font-size: 20px; */
    top: 39px;
    position: inherit;
    width: 100%;
}

.div{
    transition: .25s;
    cursor: pointer;
    display: flex;
}

.div:hover{
    opacity: 0.6;
}

.input{
    width: 10vw;
    padding: 4px 0px;
    /* margin: -1vw; */
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 7.5px;
    margin-right: 0.5vw;
    
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    border-radius: 0px;
    outline: none;
    
    font-size: 16px;
    transition: .2s ease;
}

.input:hover, .input:focus{
    border-bottom: 1px solid rgb(33, 150, 243);
}

.mainDiv{
    display: none;
}

.selectType{
    font-size: 175%;
}